<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="professionnelSante">
            <h2><span jhiTranslate="jenovTest2App.professionnelSante.detail.title">Professionnel Sante</span> {{ professionnelSante.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jenovTest2App.professionnelSante.nom">Nom</span></dt>
                <dd>
                    <span>{{ professionnelSante.nom }}</span>
                </dd>
                <dt><span jhiTranslate="jenovTest2App.professionnelSante.localite">Localite</span></dt>
                <dd>
                    <div *ngIf="professionnelSante.localite">
                        <a [routerLink]="['/localite', professionnelSante.localite?.id, 'view']">{{ professionnelSante.localite?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="jenovTest2App.professionnelSante.centre">Centre</span></dt>
                <dd>
                    <div *ngIf="professionnelSante.centre">
                        <a [routerLink]="['/centre', professionnelSante.centre?.id, 'view']">{{ professionnelSante.centre?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/professionnel-sante', professionnelSante.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
