<div>
    <h2 id="page-heading">
        <span jhiTranslate="jenovTest2App.centre.home.title">Centres</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-centre" [routerLink]="['/centre/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="jenovTest2App.centre.home.createLabel">
            Create a new Centre
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="centres?.length === 0">
        <span jhiTranslate="jenovTest2App.centre.home.notFound">No centres found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="centres && centres.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="jenovTest2App.centre.code">Code</span></th>
                    <th scope="col" ><span jhiTranslate="jenovTest2App.centre.localite">Localite</span></th>
                    <th scope="col" ><span jhiTranslate="jenovTest2App.centre.description">Description</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let centre of centres ;trackBy: trackId">
                    <td><a [routerLink]="['/centre', centre.id, 'view']">{{ centre.id }}</a></td>
                    <td>{{ centre.code }}</td>
                    <td>{{ centre.localite }}</td>
                    <td>{{ centre.description }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/centre', centre.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/centre', centre.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(centre)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
