<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-creneau-horaire-heading" jhiTranslate="jenovTest2App.creneauHoraire.home.createOrEditLabel">Create or edit a Creneau Horaire</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jenovTest2App.creneauHoraire.capacite" for="field_capacite">Capacite</label>
                    <input type="number" class="form-control" name="capacite" id="field_capacite"
                           formControlName="capacite"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jenovTest2App.creneauHoraire.heureDebut" for="field_heureDebut">Heure Debut</label>
                    <div class="d-flex">
                        <input id="field_heureDebut" type="datetime-local" class="form-control" name="heureDebut" formControlName="heureDebut" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jenovTest2App.creneauHoraire.heureFin" for="field_heureFin">Heure Fin</label>
                    <div class="d-flex">
                        <input id="field_heureFin" type="datetime-local" class="form-control" name="heureFin" formControlName="heureFin" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jenovTest2App.creneauHoraire.centre" for="field_centre">Centre</label>
                    <select class="form-control" id="field_centre" name="centre" formControlName="centre">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="centreOption.id === editForm.get('centre')!.value?.id ? editForm.get('centre')!.value : centreOption" *ngFor="let centreOption of centres; trackBy: trackById">{{ centreOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
