<div>
    <h2 id="page-heading">
        <span jhiTranslate="jenovTest2App.patient.home.title">Patients</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-patient" [routerLink]="['/patient/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="jenovTest2App.patient.home.createLabel">
            Create a new Patient
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="patients?.length === 0">
        <span jhiTranslate="jenovTest2App.patient.home.notFound">No patients found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="patients && patients.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="jenovTest2App.patient.noAvs">No Avs</span></th>
                    <th scope="col" ><span jhiTranslate="jenovTest2App.patient.dateNaissance">Date Naissance</span></th>
                    <th scope="col" ><span jhiTranslate="jenovTest2App.patient.nom">Nom</span></th>
                    <th scope="col" ><span jhiTranslate="jenovTest2App.patient.prenom">Prenom</span></th>
                    <th scope="col" ><span jhiTranslate="jenovTest2App.patient.sexe">Sexe</span></th>
                    <th scope="col" ><span jhiTranslate="jenovTest2App.patient.adresse">Adresse</span></th>
                    <th scope="col" ><span jhiTranslate="jenovTest2App.patient.telephone">Telephone</span></th>
                    <th scope="col" ><span jhiTranslate="jenovTest2App.patient.email">Email</span></th>
                    <th scope="col" ><span jhiTranslate="jenovTest2App.patient.numeroAssure">Numero Assure</span></th>
                    <th scope="col" ><span jhiTranslate="jenovTest2App.patient.groupeRisque">Groupe Risque</span></th>
                    <th scope="col" ><span jhiTranslate="jenovTest2App.patient.vaccination">Vaccination</span></th>
                    <th scope="col" ><span jhiTranslate="jenovTest2App.patient.localite">Localite</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let patient of patients ;trackBy: trackId">
                    <td><a [routerLink]="['/patient', patient.id, 'view']">{{ patient.id }}</a></td>
                    <td>{{ patient.noAvs }}</td>
                    <td>{{ patient.dateNaissance | date:'mediumDate' }}</td>
                    <td>{{ patient.nom }}</td>
                    <td>{{ patient.prenom }}</td>
                    <td jhiTranslate="{{ 'jenovTest2App.Sexe.' + patient.sexe }}">{{ patient.sexe }}</td>
                    <td>{{ patient.adresse }}</td>
                    <td>{{ patient.telephone }}</td>
                    <td>{{ patient.email }}</td>
                    <td>{{ patient.numeroAssure }}</td>
                    <td jhiTranslate="{{ 'jenovTest2App.GroupeRisque.' + patient.groupeRisque }}">{{ patient.groupeRisque }}</td>
                    <td>
                        <div *ngIf="patient.vaccination">
                            <a [routerLink]="['/vaccination', patient.vaccination?.id, 'view']" >{{ patient.vaccination?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="patient.localite">
                            <a [routerLink]="['/localite', patient.localite?.id, 'view']" >{{ patient.localite?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/patient', patient.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/patient', patient.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(patient)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
