<div>
    <h2 id="page-heading">
        <span jhiTranslate="jenovTest2App.questionnaire.home.title">Questionnaires</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-questionnaire" [routerLink]="['/questionnaire/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="jenovTest2App.questionnaire.home.createLabel">
            Create a new Questionnaire
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="questionnaires?.length === 0">
        <span jhiTranslate="jenovTest2App.questionnaire.home.notFound">No questionnaires found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="questionnaires && questionnaires.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="jenovTest2App.questionnaire.question">Question</span></th>
                    <th scope="col" ><span jhiTranslate="jenovTest2App.questionnaire.campagne">Campagne</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let questionnaire of questionnaires ;trackBy: trackId">
                    <td><a [routerLink]="['/questionnaire', questionnaire.id, 'view']">{{ questionnaire.id }}</a></td>
                    <td>{{ questionnaire.question }}</td>
                    <td>
                        <div *ngIf="questionnaire.campagne">
                            <a [routerLink]="['/campagne', questionnaire.campagne?.id, 'view']" >{{ questionnaire.campagne?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/questionnaire', questionnaire.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/questionnaire', questionnaire.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(questionnaire)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
